<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Techpyro</h1>
    <h3>You Are Login Successfully in Techpyro</h3> 
    <p>Make Your Buisness Simple</p>
    <table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
        <tbody>
            <tr>
                <td style="width: 98.1074%;"><span>Dear <%=data.phone%></span></td>
            </tr>
            <tr>
                <td  style="width: 98.1074%;background-color: red;color: white;">Welcome to Techpyro</td>
            </tr>
        </tbody>
    </table>
</body>
</html>